/* HOMEPAGE  */
.headerDiv {
  height: 1080px;
  width: 100%;
  background: url("Assets/mile1-assets/home-banner.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerDiv img {
  padding-top: 3rem;
}

.headerDiv > p:first-of-type {
  color: yellow;
  padding-top: 40px;
}

.captionSlogan2 {
  text-align: center;
  font-size: 86px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300px;
  letter-spacing: 1.5px;
}

.captionSlogan1 {
  font-size: 25px;
  font-family: "Satisfy";
}

.forPadding {
  margin-bottom: 0px;
}

.advertsContainer {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.categoryContainer {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.CategoryButtons:hover {
  background: #292929;
}

.advertsSameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MenuContainer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MenuContainer h1 {
  font-size: 42px;
  font-weight: 600;
  font-family: "barlow";
}

.cardsContains {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 50px;
}

.foodCardsContainer {
  transition: 0.5s ease;
}

.foodCardsContainer img {
  width: 306px;
  height: 306px;
}

.foodCardsContainer:hover {
  transform: scale(1.2);
  cursor: pointer;
  z-index: 2;
}

.foodInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foodInfop {
  font-size: 14px;
  color: #5f5f5f;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
  flex-wrap: wrap;
}

.firstContainer ul {
  padding-left: 0;
  padding-top: 2rem;
  width: 306px;
  height: 173.56px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.firstContainer ul p {
  padding-left: 1rem;
}

.secondContainer {
  padding-top: 40px;
}

.secondContainer li {
  list-style-type: none;
}

.secondContainer ul {
  padding-left: 0;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.thirdContainer {
  width: 306px;
  height: 291.7px;
}

.thirdContainer img {
  width: 94.5px;
  height: 94.5px;
}

.instaPhotos {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.footerContainer {
  height: 35.078125rem;
  background: #292929;
  margin-top: 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "barlow";
}

.copyRight {
  display: flex;
  justify-content: space-around;
  gap: 38rem;
}

@media (max-width: 768px) {
  .secondContainer {
    display: none;
  }

  .thirdContainer {
    display: none;
  }

  .copyRight {
    display: none;
  }

  .footerContainer hr {
    display: none;
  }

  .MenuContainer h1 {
    text-align: center;
  }
}
/* HOMEPAGE  */
