/* ORDERPAGE*/

.orderMainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderHeader {
  width: 100%;
  height: 101px;
  background: #ce2829;
  background-position: center;
  display: grid;
  place-items: center;
}

.orderHeaderImage {
  margin-top: -90px;
  z-index: -1;
}

.linksAndProductContainer {
  margin-bottom: 3rem;
}

.OrderPageGeneralContainer {
  width: 100%;
  max-width: 607px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.productInfos {
  display: flex;
  align-items: center;
  gap: 22rem;
}

.formSubContainer button {
  border: none;
  width: 47px;
  height: 56px;
}

.formSubElements {
  display: flex;
  gap: 10rem;
}

.sizeAndThick {
  display: flex;
  gap: 10rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .productInfos {
    gap: 8rem;
  }

  .sizeAndThick {
    gap: 5rem;
  }

  .formSubElements {
    gap: 4rem;
  }
  .OrderButton {
    display: flex;
    width: 200px;
  }
  .orderMainHeader img {
    width: 100%;
  }
}
/* ORDERPAGE*/
