/* ORDERPAGE*/
.orderMainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderHeader {
  width: 100%;
  background: #ce2829;
  background-position: center;
  display: grid;
  place-items: center;
}

.orderHeaderImage {
  margin-top: -90px;
  z-index: -1;
}

.linksAndProductContainer {
  margin-bottom: 3rem;
}

.OrderPageGeneralContainer {
  width: 607px;
  height: 1431px;
  margin-left: 38rem;
  margin-top: 3rem;
}

.productInfos {
  display: flex;
  align-items: center;
  gap: 22rem;
}

.formSubContainer button {
  border: none;
  width: 47px;
  height: 56px;
}

.formSubElements {
  display: flex;
  gap: 10rem;
}

.elements {
  display: flex;
  gap: 10rem;
}

/* ORDERPAGE*/
