/* ORDERPAGE*/
.orderMainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderHeader {
  width: 100%;
  background: #ce2829;
  background-position: center;
  display: grid;
  place-items: center;
}

.orderHeaderImage {
  margin-top: -90px;
  z-index: -1;
}

.OrderPageGeneralContainer {
  width: 607px;
  height: 1431px;
  margin-left: 38rem;
  margin-top: 3rem;
}

.productInfos :first-child {
  font-size: 20px;
  display: flex;
}

.productInfos :nth-child(n + 2) {
  font-size: 10px;
}

/* ORDERPAGE*/
